* {
  margin: 0 auto;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: #16181D;
  color: #E2E4E9;
  font-family: Arial, sans-serif;
  overflow: auto;
  scroll-behavior: smooth; /* suave */
}

#background {
  background-image: url('assets/Background_Intro.jpg');

  background-repeat: no-repeat;
  background-size: cover;
}

.page {
  height: 100vh;
  width: 75%;

  display: flex;
  flex-direction: column;

  align-items: center; /* verticalmente */
  justify-content: center;

  gap: 2rem;
}

.content-header {
  display: flex;
  flex-direction: column;

  text-align: center;
  gap: 2rem;
}

.content-header {
  display: flex;
  flex-direction: column;

  text-align: center;
  gap: 2rem;
}

.profile-logo {
  /* 1rem = 16px (32 + 8 = 40) */
  height: 4.5rem; 
  width: 4.5rem;
  border-radius: 100%;
  padding: 2px;
  border: 2px solid #E3646E;
}
